.intro-bg {
  background: url("../../img/img1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  color: #fff;
}

.intro h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 32px;
}

.intro p {
  margin-bottom: 120px;
}

.intro-lista {
  display: flex;
}

.intro-lista h2,
.intro-lista p {
  margin-bottom: 26px;
  font-weight: 400;
}

.intro-lista li {
  flex: 1;
  padding: 26px 32px;
  display: flex;
  flex-direction: column;
}

.intro-lista p {
  flex: 1;
}

.intro-lista a {
  align-self: flex-start;
}

.intro-lista li:first-child {
  background: #42b3e5;
}

.intro-lista li:nth-child(2) {
  background: #0384ce;
}

.intro-lista li:last-child {
  background: #3156a3;
}

.intro-lista li:last-child > span {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.intro-lista li:last-child > span + span {
  margin-top: 20px;
  position: relative;
}

.intro-lista li:last-child > span + span::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #4468b2;
  position: absolute;
  top: -8px;
}

@media (max-width: 960px) {
  .intro-lista {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .intro-bg {
    padding-top: 40px;
  }
  .intro h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  .intro p {
    margin-bottom: 60px;
  }
  .intro-lista h2,
  .intro-lista p {
    margin-bottom: 16px;
  }
}
